/* Source Code CSS: https://github.com/ZazerConer/Source-Code-File-Downloader/blob/main/source/css/style.css */
/* License GPLv3: https://github.com/ZazerConer/Source-Code-File-Downloader/blob/main/LICENSE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #eeeeee;
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
/* Container textarea */
.container {
    width: 75%;
    height: auto;
    background: #eeeeee;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    background: #eeeeee;
    box-shadow: 5px 5px 10px #cacaca, -5px -5px 10px #fff;
}
/* Top title */
.title {
    position: absolute;
    top: 25px;
    right: 30px;
    margin: auto;
    color: #fafafa;
    text-align: center;
    text-shadow: none;
    background: #0d47a1;
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 1;
}
h1 {
    color: #0d47a1;
    text-shadow: 0 1px #fff;
}
/* Title name on container */
h2 {
    color: #f44336;
    text-shadow: 0 1px #fff;
    font-weight: 500;
}
.titleName {
    color: #474747;
    float: left;
    margin: 5px 0 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 1px #fff;
}
/* Textarea */
textarea {
    width: 100%;
    height: 50vh;
    outline: none;
    padding: 20px;
    color: #e53935;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-shadow: 0 1px #fff;
    user-select: auto;
    resize: none;
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: "scrollbar";
    border-radius: 5px;
    border: none;
    background: #eeeeee;
    box-shadow: inset 6px 6px 7px #e2e2e2, inset -6px -6px 7px #fafafa;
}
textarea:focus {
    border: 2px solid tomato;
}
::placeholder {
    color: #455a64;
    text-shadow: 0 1px #fff;
    opacity: 1;
}
:-ms-textarea-placeholder {
    color: #455a64;
    text-shadow: 0 1px #fff;
}
::-ms-textarea-placeholder {
    color: #455a64;
    text-shadow: 0 1px #fff;
}
::selection {
    background: #0d47a1;
    color: #fafafa;
    text-shadow: none;
    font-weight: 400;
}
/* Button Save/Download */
.btn {
    width: 100px;
    float: right;
    color: #fff;
    opacity: 0.9;
    font-size: 17px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #0d47a1;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.btn:hover {
    opacity: 0.7;
    color: #fff;
    outline: none;
    border-style: dotted;
    background: #0d47a1;
}
.btn:active {
    outline: none;
    color: #fff;
}
/* Clear button "Textarea" */
#clearHTML,
#clearCSS,
#clearJS,
#clearXML,
#clearJSON,
#clearMD,
#clearTXT,
#clearSVG,
#clearM3U,
#clearPDF,
#clearSQL,
#clearCSV {
    width: 60px;
    float: left;
    color: #fff;
    opacity: 0.9;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #e53935;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#clearHTML:active,
#clearCSS:active,
#clearJS:active,
#clearXML:active,
#clearJSON:active,
#clearMD:active,
#clearTXT:active,
#clearSVG:active,
#clearM3U:active,
#clearPDF:active,
#clearSQL:active,
#clearCSV:active {
    background: inherit;
    opacity: 0.5;
}
button:active {
    background: inherit;
    opacity: 0.5;
    outline: none;
}
/* Click button "div" */
.clickBtn {
    width: 100%;
    margin-bottom: 30vh;
    display: block;
    z-index: 1;
}
.clickBtn #htmlBtn,
#cssBtn,
#jsBtn,
#xmlBtn,
#jsonBtn,
#mdBtn,
#txtBtn,
#svgBtn,
#m3uBtn,
#pdfBtn,
#sqlBtn,
#csvBtn {
    color: #fafafa;
    background: #0d47a1;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 17px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.active,
.clickActive:hover {
    opacity: 0.6;
}
/* My-Github */
.github {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #0d47a1;
}
.gitBtn {
    text-decoration: none;
    cursor: none;
    display: inline-block;
    text-shadow: 1px 2px #fff;
}
.gitBtn:active {
    background: inherit;
    opacity: 0.5;
}
/* Credits & Copyright */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background: #eeeeee;
    padding: 10px 10px 5px 5px;
}
h4 {
    color: #0d47a1;
    font-weight: 500;
    text-shadow: 0 1px #fff;
}
.myGit {
    color: #f44336;
    text-shadow: 0 1px #fff;
    outline: none;
    text-decoration: none;
}
small {
    color: #616161;
    font-size: 14px;
    text-shadow: 0 1px #fff;
}
/* Preview text (PrivacyPolicy) */
.preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85%;
    height: 75%;
    padding: 25px;
    color: ##323232;
    text-align: left;
    text-shadow: 0 1px #fff;
    border-radius: 8px;
    overflow: scroll;
    background: #eeeeee;
    box-shadow: 7px 7px 14px #cacaca, -7px -7px 14px #ffffff;
    z-index: 1;
}
.preBtn {
    color: #0d47a1;
    text-shadow: 0 1px #fff;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background: #eeeeee;
}
.preBtn:active {
    background: inherit;
    opacity: 0.3;
}
#close {
    position: absolute;
    bottom: 12.5%;
    right: 7.5%;
    width: 75px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin: auto;
    padding: 7px;
    border-radius: 8px 0 8px 0;
    border: none;
    outline: none;
    background: #ef5350;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 3;
}
